@import url("./_colors.css");

.main {
  height: calc(100vh - var(--header-height));
  display: flex;
  justify-content: center;
  padding: 48px 0 0 0;
  overflow: overlay;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 750px;
  /* background-color: var(--secondary-bg-color); */
}

@media only screen and (max-width: 768px) {
  .main {
    padding: 65px 0 0 0;
  }
  .main-wrapper {
    width: 100%;
    padding: 0 12px;
  }
}
