::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #79018c;
  border: 0px none #ffffff00;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #79018c;
}
::-webkit-scrollbar-thumb:active {
  background: #79018c;
}
::-webkit-scrollbar-track {
  background: #ff000000;
  border: 0px none #ffffff00;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: #ff000000;
}
::-webkit-scrollbar-track:active {
  background: #ff000000;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
